@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");

/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= ROOT ================= */
html {
  font-size: 62.5%;
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* ================= COMMON ================= */
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

/* ================= CONTAINER ================= */
.container {
  max-width: 140rem;
  margin: auto;
  padding: 0 3.2rem;
}

/* ================= GRID ================= */
.grid {
  display: grid;
  gap: 3.2rem;
}

.grid-three-cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

/* ================= HEADER ================= */
header {
  height: 10rem;
  background: #202020;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.navbar-grid {
  grid-template-columns: 0.5fr 1fr;
  height: 10rem;
  align-items: center;
}

.Logo h1 {
  font-size: 2.6rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  gap: 3.2rem;
  justify-content: flex-end;
}

nav ul li a {
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
  color: #2e86c1;
}

/* ================= HERO ================= */
main {
  min-height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
}

.hero-content h1 {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero-content p {
  font-size: 1.7rem;
  max-width: 55rem;
  color: #cfcfcf;
  margin-bottom: 2.4rem;
}

/* ================= BUTTON ================= */
.btn {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem 2.6rem;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.btn-darken {
  background: #202020;
  color: #fff;
  border: 0.1rem solid #444;
}

.btn-darken:hover {
  background: #2e86c1;
  border-color: #2e86c1;
}

.bg-white-box {
  background: #202020;
}

/* ================= HERO IMAGE ================= */
.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem
}

.paragraph {
  margin: 3.2rem 0;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(5.2rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .banner-image {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .hero-content {
    order: 1;
  }
  .container .banner-image {
    width: 80%;
    order: 0;
  }
}

/* ================= About Section ================= */

.section-about {
  margin: 0 auto 9rem auto;
}

/* ================= GRID ================= */
.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

/* ================= TITLE ================= */
.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

/* ================= CARD ================= */
.card {
  max-width: 55rem;
  border: 0;
  margin-inline: auto;
  width: 100%;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

/* ================= GRADIENT BORDER ================= */
.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #0d1212, #b0afb0, #0d1212);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #0d1212, #afa220, #0d1212);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0d1212, #5f6fad, #0d1212);
}

/* ================= TEXT ================= */
.card-title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  margin-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  max-width: 470px;
}
